<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PetFriends</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PetFriends.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
         <nav class="navbar navbar-dark navbar-expand-sm navbar-toggleable-sm bg-custom border-bottom box-shadow mb-3" style="background-color: #FF7A26">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span><img id="logo" src="~/Images/logo.png" width="50" height="50"/></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <img id="logo" src="~/Images/logo.png" width="50" height="50"/>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item g-0">
                            <a class="nav-link text-light fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item g-0">
                            <a class="nav-link text-light fw-bold" asp-area="" asp-controller="Animal" asp-action="Index">Animal</a>
                        </li>                        
                        <li class="nav-item g-0">
                            <a class="nav-link text-light fw-bold" asp-area="" asp-controller="Home" asp-action="Privacy">Lar Temporario</a>
                        </li>
                        <li class="nav-item g-0">
                            <a class="nav-link text-light fw-bold" asp-area="" asp-controller="Home" asp-action="Privacy">Custos</a>
                        </li>
                        <li class="nav-item g-0">
                            <a class="nav-link text-light fw-bold" asp-area="" asp-controller="DespesaFixa" asp-action="Index">Despesas</a>
                        </li>
                        @*<li class="nav-item g-0">
                            <a class="nav-link text-light fw-bold" asp-area="" asp-controller="Adocao" asp-action="Index">Adoção</a>
                        </li>*@
                        <li class="nav-item g-0">
                            <a class="nav-link text-light fw-bold" asp-area="" asp-controller="CustoPorResgate" asp-action="Index">Custo por Resgate</a>
                        </li>
                       
                        <li class="nav-item g-0">
                            <a class="nav-link text-light fw-bold" asp-area="" asp-controller="CorPelo" asp-action="CorPelo">CorPelo</a>
                        </li>
                    </ul>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" color="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                </div>
            </div>
        </nav>
    </header>
    <div class="container justify-content-sm-center g-0">
        <main role="main" class="container justify-content-sm-center g-0">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted" style="max-height:30px">
        <div class="container">
            &copy; 2023 - PetFriends - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
