@{
    ViewData["Title"] = "Teste de conexao com o banco";
}
<h1>@ViewData["Title"]</h1>

<p>TESTE.</p>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Nota</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var a in (List<PetFriends.Models.ConexaoEverton>)ViewBag.users)
            {
                <tr>
                    <td>@a.Id</td>
                    <td>@a.Nome</td>
                    <td>@a.Notes</td>
                </tr>
            }
        }
    </tbody>
</table>