<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&family=Open+Sans&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div id="login-container">
        <img src="logo.png" alt="Logo Pet Friends">
        <h1>Login</h1>
        <form>
            <input type="email" id="email" name="email" class="form-login" placeholder="E-mail"><br>
            <input type="password" id="password" name="password" class="form-login" placeholder="Senha">
            <button type="button" id="btn-entrar">Entrar</button>
        </form>
        <div id="div-hor"></div>
        <div id="cadastro-senha">
        <a class="link-hover" href="#">Novo cadastro</a>
        <a class="link-hover div-vert" href="#">Esqueci a senha</a>
    </div>
</body>
</html>