@*@using Microsoft.AspNetCore.Mvc;
@using PetFriends.Data;
@using PetFriends.Models;

@{
    ViewData["Title"] = "Padrinho / Doador";
}

<head>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    

</head>

<div style="max-width: 1536px; font-size:36px;">@ViewData["Title"]</div>
<p></p>
<p></p>
<p></p>

<body>
    <div style="max-width: 1536px;">
        <div class="row pb-0">
            <div class="col-md-12 pb-0" style="width: 100%; float:right;">
                <div class="row">
                    <div class="col-md-2">
                        <label for="nome" class="form-label">Nome Completo</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<p>
    @Html.ActionLink("Voltar", "ListaPadrinhosDoadores")
</p>*@